.header {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  max-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: rgba(0, 0, 0, 0.88);
  background: #ffffff;

  .ant-menu {
    width: 90%;
  }
  .text-logo {
    visibility: hidden;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  }
  @media screen and (min-width: 750px) {
    .text-logo {
      padding: 0.5em;
      height: 2em;
      visibility: visible;
    }
  }
  .logo {
    padding: 0.5em;
    height: 2em;
    pointer-events: none;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
